*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}
html, body {
  height: 100%;
  background-image: linear-gradient(to right, rgba(103, 103, 240, 0.863), rgb(76, 162, 241));
}

.container{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height:80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap:30px
}


.Username{
  border: 2px solid #ccc;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
  border-radius: 8px;
  padding:10px;
  width:60%;
  font-size:16px;
}
.button{
  width:60%;
  padding:10px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(103, 103, 240, 0.863), rgb(110, 62, 240));
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}
.animated-text{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  font-size:24px;
  font-weight:bold;
  gap:10px;
}
.word {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.word:nth-child(1) {
  animation-delay: 0s;
}

.word:nth-child(2) {
  animation-delay: 1s;
}

.word:nth-child(3) {
  animation-delay: 2s;
}

.word:nth-child(4) {
  animation-delay: 3s;
}

.word:nth-child(5) {
  animation-delay: 4s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

