*{
    padding:0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}
.container1{
    background-image: url(bg-desktop-dark.jpg);
    height:35vh;
    width: 100%;
}
.container2{
 background-color: rgb(27, 0, 70);
 position:relative;
 height:65vh;
}
.todoheader{
  color:white;
  font-size:5vh;
  font-weight:bolder;
}

.icon{
    background: none;
    padding:0;
    margin:0;
    border:none;
    position:relative;
    top:4px;
}


.heading{
    display: flex;
    padding-top:80px;
    justify-content: space-around;
}
.input{
    background-color: rgb(29, 28, 49);
    height:5vh;
    width:55vw;
    border: 2px solid #333232;
    color:white;
    border-radius: 3px;
    padding-left:8px;
}

.inputplace{
    padding-top:20px;
    position:absolute;
    margin:auto;
    left:22vw;
}
.button{
    position:relative;
    background-color: rgb(29, 28, 49);
    right:50px;
    color:white
}
.domdiv{
    background-color:rgb(29, 28, 49);
    width:55vw;
    justify-content: space-between;
    position:absolute;
    top:-40px;
    left:22vw;

}